*, *::after, *::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}



html{
    font-family:  cursive;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh ;
    overflow-x: hidden;
    background-color: #051937;
    
}

header{
    color:#fff;
    background-color: #1b0766;
    text-align:center;
    width: 100%;
    margin-bottom: 80px;
}

nav{
    width: inherit;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
    padding:0;
    margin:0;
    background-color: seagreen;
    padding:20px;
}
li h1{  
       font-size:0.5rem;
    
}

.game_container{
    display: flex;
    width: 305vw;
    align-content: center;
    justify-content: space-between;
    height:90vh;
    
}
.game_start_container{
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
}

.overlay{
    width: 80%;
    height: auto;
    background-color:rgba(27, 7, 102, 0.7) ;
    border-radius: 8px;
    box-shadow: 0 0 25px #7cf3e2;
    text-align: center;
    padding-bottom: 80px;
}
.start_game_btn{
    border:none;
    width:10rem;
    height:60px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 0 0 10px #7cf3e2;
    font-size:1.5em;
}


.start_game_btn:hover{
    box-shadow: 0 0 30px #7cf3e2;
    transition:box-shadow cubic-bezier(.68,-0.28,.44,1.2)  0.1s;
}

/* Start Game */
.game_description p, .game_description  h3{
    color: #fff;
}
.game_description h3{
    margin-top:3rem;
    font-size: 2rem;
    text-align:center;
    padding-bottom: 20px;
}
.game_description p{
    margin-top: 3rem;
    line-height: 150%;
    padding-left:10%;
    padding-right:10%;
    font-size:1rem;
    
}
.game_description{
    min-width: 80%;
    margin: 3rem auto;
}


/* Select Player */
.selectPlayers{
    width:80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select_wrapper h3{
    margin-top:150px;
    color: #7cf3e2;
    font-size: larger;
    text-shadow:2px 2px 0 #1b0766;
}
.select_wrapper{
    text-align: center;
    margin-top:150px;
}

.select_flex{
    width:100%;
    margin-top:10px;
}
.card{
    background:white;
    border-radius:10px;
    width: 300px;
    height: 400px;
    padding-bottom:10px;
    margin-bottom: 20px;;
}


.card_text button{
    padding:1rem;
    border:none;
    border-radius:5px;
    box-shadow: 0 0 10px grey;
    margin: 10px;
}
.card_text button:hover{
    box-shadow: 0 0 20px #1b0766;
}

.card_text button:active{
   font-size: 1.5em;
   transition: font-size cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}


.character_name{
    background-color: #fff;
    box-shadow: 0 0 10px grey;
    margin: 10px 30px 10px 30px;
    padding: 15px;
    border-radius: 8px;
    
}
img{
    width: 100%;
    height:80%;
    object-fit: cover;
    object-position: top center;
}

.selectPlayers{
    width:100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_show{
    font-family: inherit;
    border:none;
    width:200px;
    height:70px;
    cursor: pointer;
    border-radius: 8px;
}

.game_show:active{
    box-shadow: 0 0 30px #7cf3e2;
    transition: box-shadow cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}

/* The game */
.display_game{
    transform: translateX(-100vw);
    height: 90vh;
    color: #fff;
    width:99vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.players_indicator{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left:5%;
    padding-right:5%;
}

.playerImage, .computerImage{
    width:10rem;
    height:10rem;
    border: 10px solid #7cf3e2;
    border-radius:50%;
    position:relative;
}



.btn{
    width: 100px;
    text-align: center;
    margin:40px 10px 0 10px;
    font-family: inherit;
    background-color: #051937;
    border:none;
    border-radius: 5px;
    border:2px solid seagreen;
    color:white;
    text-shadow:#1b0766 2px 2px 3px;
    padding: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
}


@media screen and (min-width:960px) {
   .select_flex{
    width:900px;
    display:flex;
    justify-content: space-between;
   } 
   
   .select_wrapper{
    padding-top: 0;
    margin-top:0;
   }
   
   .select_wrapper h3{
    margin-top:0;
   }
   
   .display_game .overlay{
    padding-top:30px;
   }
}